*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color: #1d1d1d;
}

.header__one{
    display: flex;
    background-color:#1d1d1d;
    height: 83px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0 30px;
}

.header__one__picture{
    width: 232px;
    height: 73px;
}

.header__one__picture img{
    width: 200px;
    height: 37px;
    margin-top: 15px;
}

.header__one__sections{
    display: flex;
}
.settings , .heart , .market  {
    height: 83px;
    width: 66px;
    border: 1px solid rgb(56, 55, 55);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.market{
    position: relative;
}

.login{
    height: 83px;
    width: 65px;
    border: 1px solid rgb(56, 55, 55);
    border: none;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
i{
    color: white;
    
}
.number{
    width: 20px;
    height: 16px;
    border-radius: 5px;
    background-color: #76b400;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
    top: 15px;
}

.header__two{
    display: flex;
    height: 92px;
    width: 100%;
    background-color: #76b400;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.ul{
    display: flex;
    list-style: none;
    
    gap: 25px;
}
.ul li a{
    text-decoration: none;
    color: white;
    
}
.ul li a:hover {
    color: black;
    transition: color 0.2s ease;
}
.select{
    margin-right: 8rem;
}
.input{
    width: 240px;
    height: 43px;
    background-color: white;
    text-align: center;
    border-radius: 40px;
    margin-left: 35px;
}

.inp{
    background: transparent;
    border: none;
    margin: 6px;
    height: 30px;
    width: 180px;
    outline: none;
}
.fas{
    color: black;
    cursor: pointer;
}


.sliders{
    display: flex;
}
.sliders_img{
    display: block;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 550px;
    object-fit: fill;
}
.left{
    height: 100%;
    top: 50%;
    left: 5%;
    position: absolute;
    z-index: 1;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.right{
    top: 50%;
    
    right: 5%;
    position: absolute;
    z-index: 1;
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.footer{
    width: 100%;
    height: 500px;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
}
.footer__section{
    width: 70%;
    margin-top: 100px;
}
.footer__head{
    display: flex;
    justify-content: space-between;
}
.footer_head_img{
    width: 250px;
    height: 46px;
    margin-top: 10px;
}
.footer__icons{
    display: flex;
    align-items: center;
    gap: 30px;
}
.footer_head_w{
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #76b400;
    border-radius: 50%;
}
.footer_head_w i{
    font-size: 25px;
    padding-top: 27%;
}
.footer_head_w:hover{
    background-color:#5d8d04;
}
.footer_head_i{
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #76b400;
    border-radius: 50%;
}
.footer_head_i i{
    font-size: 25px;
    padding-top: 27%;
}
.footer_head_i:hover{
    background-color:#5d8d04;
}
.footer_head_f{
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #76b400;
    border-radius: 50%;
}
.footer_head_f:hover{
    background-color:#5d8d04;
}
.footer_head_f i{
    font-size: 25px;
    padding-top: 27%;
}

.footer__content{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.footer__content ul{
    display: flex;
   gap: 30px;
}
.footer__content ul li{
     list-style: none;
}
.footer__content ul li a{
    color: gray;
    text-decoration: none;
    font-size: 13.5px;
}
.hr{
    margin-top: 5%;
    border: 1px solid gray;
}
.footer__content ul li a:hover{
    color: #76b400;
}
.footer__end{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
}
.footer__end span{
    color: lightgray;
    font-size: 15px;
}
.footer__end div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer__end div img{
    width: 130px;
    height: 30px;
}
.footer__end ul li{
    list-style: none;
}
.footer__end ul li a{
    text-decoration: none;
    color: lightgray;
}
.footer__end ul li a:hover{
    color: #76b400;
}

.card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 200px;
}

.card img {
    max-width: 100%;
    height: auto;
}


.card-row {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    
  }
  .p{
    color: white;
    text-align: center;
    margin-top: 50px; 
    padding: 10px; 
    position: relative;
    font-size: 30px;

  }

.p::before,
.p::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 30%;
    height: 2px;
    background-color: rgb(74, 72, 72); 
}

.p::before {
    left: 10%;
    
}

.p::after {
    right: 10%;
   
}

button {
    background-color: #76b400;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 45.5%;
    cursor: pointer;
    height: 42px;
    width: 100px;
  }

  button span {
    transition: transform 0.3s ease-out;
    display: inline-block;
}

button:hover span {
    transform: translateX(10%);
    
    
}

button .icon {
    display: inline-block;
    transform: translateX(-100%);
}
.btn:hover{
    transform: translate(ease);
}  
  
.marka {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 250px;
    border: none;
    padding: 20px;
    margin-left: 60px;
    width: 250px;
}
.marka:hover{
    object-fit: cover;
    overflow: hidden;
    border: 4px solid green;
    border-radius: 50%;
    width: 300px;
    height: 250px;
}

.marka img {
 
    width: 100%;
    height: 20%;
}


.brend-row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}

.new {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 200px;
}

.new img {
    max-width: 100%;
    height: auto;
}


.new-row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    
}
.menyu{
    display: none;
}


.header__one__sections i:hover{
    color: #76b400;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    body{
        width: 100%;
    }
    .header__two{
        display: none;
    }
    .menyu{
        display: inline;
    }
    .card-row,
  .new-row,
  .premium-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .brend-row{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .marka {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 250px;
    border: none;
    padding: 10px;
    margin-left: 30px;
    width: 150px;
}
.marka:hover{
    object-fit: cover;
    overflow: hidden;
    border: 4px solid green;
    border-radius: 50%;
    width: 300px;
    height: 250px;
}

.marka img {
 
    width: 100%;
    height: 20%;
}

  .card,
  .new,
  .premium {
    width: calc(25%); 
    margin: 10px; 
  }
  .bttn {
    margin-left: 40%;
  }
button{
    margin-left: 43%;
}
  
}

@media only screen and (min-width: 600px) and (max-width:1000px){
    .footer__head{
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 600px) and (max-width:700px){
    .footer__head{
        gap: 10px;
    }
    .footer__icons{
        display: none;
    }
    
}

@media only screen and  (min-width: 600px) and (max-width:1000px){
    .footer__content{
        display: flex;
        gap: 10px;
    }
    .footer__content ul li a{
        font-size: 5px;
    }
}
    

@media only screen and (max-width: 600px) {
    .footer{
        display:flex;
        flex-direction: column;
        width: 200px;
    }
    .footer__end span{
        font-size: 2px
    }
    .footer__end{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}